.footer {
  padding: 40px 0 24px;
  position: relative;
  overflow: hidden;
  background-color: $white2;
  &__line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1440px;
    height: 8px;
    display: flex;
    img {
      width: 100%;
    }
  }
  &__inner {
    &-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;
    }
    &-main {
      width: calc(33% - 15px);
      max-width: 276px;
      p {
        color: $black3;
      }
    }
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 153px;
      margin-bottom: 24px;
      img {
        width: 100%;
      }
    }
    &-side {
      width: calc(67% - 22px);
      max-width: 687px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-social {
      width: 100%;
      display: flex;
      align-items: center;
      a {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
        &:hover {
          opacity: 1;
          svg {
            color: $secondary;
          }
        }
        &.sm {
          width: 21px;
        }
        &.big {
          width: 26px;
        }
        &:last-child {
          margin: 0;
        }
        svg {
          width: 100%;
          height: 100%;
          color: $black2;
          transition: 0.3s ease;
        }
      }
    }
    &-col {
      width: calc(33.3% - 12px);
      max-width: 202px;
      display: flex;
      flex-direction: column;
      h5 {
        color: $black2;
        margin-bottom: 16px;
      }
      & > a {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $black2;
        margin-bottom: 12px;
        &:last-child {
          margin: 0;
        }
        &:hover {
          opacity: 1;
          color: $secondary;
        }
      }
    }
    &-copy {
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgba(0, 0, 0, 0.16);
      p {
        color: $black3;
      }
    }
    &-terms {
      display: flex;
      align-items: center;
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $black3;
        margin-right: 32px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
// 930px
@mixin footer-md-lg {
  .footer {
    &__inner {
      &-row {
        flex-direction: column;
        margin-bottom: 40px;
      }
      &-main {
        width: 100%;
        margin-bottom: 40px;
      }
      &-side {
        width: 100%;
        max-width: unset;
      }
      &-terms {
        a {
          margin-right: 20px;
        }
      }
      &-copy {
        padding-top: 16px;
      }
    }
  }
}
// 750px
@mixin footer-sm-md {
  .footer {
    &__inner {
      &-row {
        margin-bottom: 32px;
      }
      &-main {
        margin-bottom: 32px;
      }
      &-side {
        flex-direction: column;
      }
      &-col {
        h6 {
          margin-bottom: 24px;
        }
      }
      &-links {
        width: 100%;
        margin-bottom: 64px;
      }
      &-copy {
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 10px;
        }
      }
      &-terms {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// 650px
@mixin footer-sm-md-extra {
  .footer {
    padding: 30px 0 20px;
    &__inner {
      &-logo {
        width: 130px;
        margin-bottom: 20px;
      }
      &-main {
        max-width: unset;
        margin-bottom: 24px;
      }
      &-col {
        width: calc(50% - 15px);
        &:last-child {
          width: 100%;
          max-width: unset;
          margin-top: 24px;
        }
      }
      &-links {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
      &-row {
        margin-bottom: 30px;
      }
      &-social {
        width: 100%;
        max-width: unset;
      }
      &-copy {
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
        }
      }
      &-terms {
        a {
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          letter-spacing: 0.01em;
          margin-right: 20px;
          &:hover {
            opacity: 1;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
