// colors
$primary: #81fbbf;
$secondary: #143635;
$secondary-light: #155ab8;
$black: #000;
$black1: #191919;
$black2: #333333;
$black3: #4c4c4c;
$black4: #666666;
$gray-dark: #565656;
$white: #fff;
$white2: #f6f6f6;
$blue: #6892f6;
// fonts
$mainFont: "Poppins", sans-serif;
$fustat: "Fustat", sans-serif;
$knewave: "Knewave", sans-serif;
