// colors
$primary: #ff4545;
$secondary: #102849;
$secondary-light: #155ab8;
$black: #000;
$black1: #191919;
$black2: #333333;
$black3: #4C4C4C;
$black4: #666666;
$gray-dark: #565656;
$white: #fff;
$white2: #f6f6f6;

// fonts
$mainFont: "Manrope", sans-serif;
$fustat: "Fustat", sans-serif;
$knewave: "Knewave", sans-serif;
