.hero {
  position: relative;
  &.sm {
    .hero {
      &__bg {
        &::before {
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          );
        }
        img {
          object-position: 90%;
        }
      }
      &__inner {
        padding: 80px 0;
        min-height: unset;
        justify-content: center;
        h2 {
          margin-bottom: 16px;
          text-shadow: 0px 2px 48px rgba(255, 255, 255, 0.1);
        }
        p {
          color: #f6f6f6;
          text-shadow: 0px 2px 48px rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
  &.cont {
    background-color: $secondary;
    .hero {
      &__inner {
        padding: 64px 0;
        min-height: unset;
        &-title {
          text-align: center;
          width: 100%;
          max-width: unset;
          margin: 0;
          p {
            color: #f6f6f6;
          }
        }
        h1 {
          margin-bottom: 12px;
        }
      }
    }
  }
  &.stor {
    .hero {
      &__inner {
        min-height: 564px;
      }
      &__bg {
        &::before {
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.6) 100%
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }
        img {
          object-position: 60%;
        }
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 100%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    padding: 64px 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $white;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-title {
      width: calc(45% - 10px);
      max-width: 584px;
    }
    &-text {
      width: calc(55% - 10px);
      max-width: 584px;
      text-align: end;
      p {
        color: #f6f6f6;
        text-shadow: 0px 2px 48px rgba(255, 255, 255, 0.1);
      }
    }
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
    &__inner {
      padding: 50px 0;
      min-height: 500px;
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    &__inner {
      &-content {
        flex-direction: column;
      }
      &-title {
        margin-bottom: 20px;
        width: 100%;
        max-width: unset;
        &:last-child {
          margin: 0;
        }
      }
      &-text {
        text-align: start;
        width: 100%;
        max-width: unset;
      }
    }
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    &.stor {
      .hero {
        &__inner {
          min-height: 350px;
        }
      }
    }
    &.cont {
      .hero {
        &__inner {
          padding: 50px 0;
        }
      }
    }
    &.sm {
      .hero {
        &__inner {
          padding: 60px 0;
          h2 {
            margin-bottom: 10px;
          }
        }
      }
    }
    &__inner {
      padding: 40px 0;
      min-height: 400px;
    }
  }
}
.mission {
  padding: 64px 0;
  &__inner {
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    &-col {
      width: calc(50% - 15px);
      max-width: 520px;
    }
    h2 {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 32px;
      color: $black3;
      &:last-child {
        margin: 0;
      }
    }
  }
}
// 1180px
@mixin mission-xlg-xxlg {
  .mission {
    padding: 50px 0;
    &__inner {
      padding: 30px;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
// 930px
@mixin mission-md-lg {
  .mission {
    &__inner {
      flex-direction: column;
      &-col {
        width: 100%;
        max-width: unset;
        margin-bottom: 24px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
// 750px
@mixin mission-sm-md {
  .mission {
    padding: 40px 0;
    &__inner {
      padding: 20px;
      p {
        font-size: 14px;
      }
      h2 {
        margin-bottom: 16px;
      }
    }
  }
}
.journey {
  padding: 64px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &Profile {
    width: calc(42% - 15px);
    max-width: 450px;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      padding-bottom: 113%;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    &__name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 40px;
      z-index: 1;
    }
    h3 {
      color: $white;
      text-shadow: 0px 2px 48px rgba(255, 255, 255, 0.1);
      margin-bottom: 12px;
    }
    p {
      color: #dfdfdf;
      text-shadow: 0px 2px 48px rgba(255, 255, 255, 0.1);
    }
  }
  &Content {
    width: calc(58% - 15px);
    max-width: 687px;
    h2 {
      margin-bottom: 32px;
      color: $black1;
    }
    p {
      color: $black2;
    }
  }
}
// 1180px
@mixin journey-xlg-xxlg {
  .journey {
    padding: 50px 0;
  }
}
// 930px
@mixin journey-md-lg {
  .journey {
    &__inner {
      flex-direction: column;
    }
    &Profile {
      width: 100%;
      margin-bottom: 35px;
    }
    &Content {
      width: 100%;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
// 750px
@mixin journey-sm-md {
  .journey {
    padding: 40px 0;
  }
}
// 540px
@mixin journey-xsm-sm {
  .journey {
    &Profile {
      &__name {
        padding: 24px;
      }
    }
  }
}
.asd {
}
// 1180px
@mixin asd-xlg-xxlg {
  .asd {
  }
}
// 930px
@mixin asd-md-lg {
  .asd {
  }
}
// 750px
@mixin asd-sm-md {
  .asd {
  }
}
// 650px
@mixin asd-sm-md-extra {
  .asd {
  }
}
// 540px
@mixin asd-xsm-sm {
  .asd {
  }
}
