.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4000;
  transition: 0.3s ease;
  background: $primary;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
    box-shadow: 0px 4px 4px 0px #00000021;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 257px;
      img {
        width: 100%;
      }
    }
  }
  .auto__container {
    position: static;
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
      &-logo {
        width: 216px;
      }
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &__inner {
      height: 90px;
      &-logo {
        width: 204px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 16px 0;
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
